.header{
	background-color: #2d3436;
	overflow: hidden;
	text-align: center;
	border-bottom: solid 1px var(--theme-white);
}

.header_site_title_img{
	max-height: 50px;
	height: 50px;
}

.header_text{
	padding: 0;
	margin: 0;
	font-family: 'Chewy', cursive;
	font-size: 40px;
	text-align: center;
	line-height: 36px;
}

.header_link{
	text-decoration: none;
	color: var(--theme-yellow);
}

.header_desc{
	padding: 0;
	margin: 5px 0;
	color: var(--theme-white);
	font-family: 'Yeon Sung', cursive;
	line-height: 20px;
	font-size: 20px;
}