.categories_container{

}

.category_block{
	padding: 5px 15px;
	margin: 0 15px;
	border-bottom: solid 1px var(--theme-gray);
}

.category_block:hover{
	background-color: var(--theme-hover-color);
}

.category_line{
	padding: 0;
	margin: 0;
}

.category_icon{
	font-size: 22px;
	padding: 0 10px;
}

.category_link{
	vertical-align: top;
	font-size: 18px;
	text-decoration: none;
	color: var(--theme-blue);
}

.category_link:hover{
	color: var(--theme-pink);
}